
.gitignore
.idea/vcs.xml
.idea/workspace.xml
terraform/.terraform/
terraform/variables.tfvars
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/to_run.txt
/terraform/variables.tfvars
/terraform/outputs.json
